@{
	ViewData["Title"] = "Tienda";
	Layout = "_Layout";
}

<div class="row">
	<div class='col col-sm-6 col-md-4'>
		<ul class="list-group">
			<li class="list-group-item">
				<input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
				First checkbox
			</li>
			<li class="list-group-item">
				<input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
				Second checkbox
			</li>
			<li class="list-group-item">
				<input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
				Third checkbox
			</li>
			<li class="list-group-item">
				<input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
				Fourth checkbox
			</li>
			<li class="list-group-item">
				<input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
				Fifth checkbox
			</li>
		</ul>
	</div>
	<div class='col col-sm-6 col-md-8'>
		<div class='row row-cols-3 row-cols-md-3'>
				<div class='col'>
					<div class="card" style="width: 18rem;">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>